$dark-gray:     #2a2a2a;

$medium-gray:   #9e9e9e;
$medium-maroon: #835353;

$light-beige:   #cfc7bd;
$light-blue:    #b0d6ef;
$off-white:     #f3f3f3;

$color-1:       $dark-gray;
$color-2:       $off-white;
$color-3:       $light-blue;
$color-4:       $medium-gray;
$color-5:       $light-beige;
$color-6:       $medium-maroon;

$sans-serif-1:      arial;

$font-family-1:     $sans-serif-1;